.container-fluid{
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden;
}

.bodyBack{
	background-image: url("assests/bg_city.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 2%;
}

#upCUM img{
	border-radius: 5%;
	/*box-shadow: */
}

#mainView h1{
	padding: 2% 1%;
	font-size: 100px;
	color: #fff;
	opacity: .78;
}

#following{
	margin-bottom: 0 !important;
	background-color: grey;
}

#FeaturedPhotos {
	padding-left: 1%;
	padding-right:2%;
}

.form-inline{
	position: center;
}

#upcomingEvents {
	padding-right: 2%;
	padding-bottom: 2%;

	text-align: center;
}

#upcomingEvents h1{
	text-align: center;
}

#following{
}

.event {
	background-color: rgba(255,255,255,.9);
	box-sizing: content-box;
	box-shadow: 10px 5px 5px #484949;
}

#eventHeading{
	padding-left: 4%;
	padding-top: 2%;
	padding-bottom: 3%;
}

#e1 h3{
	text-align: center;
}

#e2 h3{
	text-align: center;
}

#e3 h3{
	text-align: center;
}

#e4 h3{
	text-align: center;
}







