.container-fluid{

	padding: 0 !important;
/*	margin: 0 !important;*/
}

.bodyBack{
	background-image: url("https://images.pexels.com/photos/7613/pexels-photo.jpg?cs=srgb&dl=city-downtown-new-york-7613.jpg&fm=jpg");
	background-size: cover;
	padding-left: 2%;
}

#upCUM img{
	border-radius: 5%;
	/*box-shadow: */
}


#mainView h1{
	padding-top: 2%;
	padding-left: 1%;
}

#following{
	margin-bottom: 0 !important;
	background-color: grey;
}

#FeaturedPhotos {
	padding-left: 3%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.form-inline{
	position: center;
}

#upcomingEvents {
	padding-bottom: 2%;
}

